
















<!--<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Snippet - GoSNippets</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<style></style>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
-->




<body oncontextmenu='return false' class='snippet-body'>


<section class="pt-5 pb-5">
    <div class="container">
        <h1 class="text-center display-1">Bienvenue sur Hi Tec App</h1>
<hr />
<div id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{source}}/camera1.jpg" alt="Los Angeles" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{{source}}/camera2.jpg" alt="Chicago" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{{source}}/camera3.jpg" alt="New York" class="d-block w-100">
      </div>
      <div class="carousel-item">

      <img src="assets/imagesCarousel/shopping_online.PNG">
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Appareils photo</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera1.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Canon cx400v</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera2.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Sony v800s</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera3.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Fujifilm cr-408</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera4.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Nikon 827x4</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera5.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Fujifil X-S20</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera6.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Canon IPS-C</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera7.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Canon EOS</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera8.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Canon G7X</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/camera9.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Sony 7s</h4>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>













<br>
<br>




<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Snippet - GoSNippets</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<style></style>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>





<body oncontextmenu='return false' class='snippet-body'>


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Consoles</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console1.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Xbox Serie X</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console2.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Nintendo Switch</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console3.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Xbox Serie S</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console4.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">PS5</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console5.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Wii U</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console6.png">
                                        <div class="card-body">
                                            <h4 class="card-title">Switch 2</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console7.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">PS1</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console8.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">PS5</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/console10.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">PS2</h4>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>









<br>
<br>









<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Snippet - GoSNippets</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<style></style>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>





<body oncontextmenu='return false' class='snippet-body'>


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">laptop</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop1.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Dell G16 Gaming Laptop</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop2.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">HP ELITEBOOK 830 G5 - WINDOWS 11</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop3.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">MacBook Pro 13</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop4.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Surface Laptop Studio 2</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop5.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">HP ZBook Firefly G10 14"</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop6.png">
                                        <div class="card-body">
                                            <h4 class="card-title">MSI Titan GT77 12U</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop7.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Acer Nitro 5</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop8.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Samsung Galaxy Book 3 Pro</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/laptop9.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">HP Envy X360</h4>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br>
<br>





<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Snippet - GoSNippets</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<style></style>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>





<body oncontextmenu='return false' class='snippet-body'>


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Telephones</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone1.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">iPhone 15 Pro Max - 5G</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone2.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Huawei P40</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone3.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Iphone 11 Pro</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone4.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">iPhone 12 128 Go - Bleu</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone5.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Samsung Galaxy S21 6,2" 128 Go 5G</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone6.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Samsung Galaxy Z Flip 4 - 256Go</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone7.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Google Pixel 7a</h4>
                                            <p class="card-text"></p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone8.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Samsung Galaxy S23+</h4>
                                            <p class="card-text"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="assets/imagesCarousel/phone9.PNG">
                                        <div class="card-body">
                                            <h4 class="card-title">Samsung Galaxy A54 5G</h4>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<img src="assets/imagesCarousel/banniere.PNG" class="img-rounded" alt="banniere">


